body{
    background-color: aqua;
    
}

header{
display: flex;
flex-direction: row;
justify-content:space-between;
box-shadow: 0 3px 2px black;
margin: 0px;
}

header h1{
    font-size: 50px;
}

header ul{
    display: inline-flex;
    list-style: none;
}

header li{
    margin-right: 20px;
    font-size: 25px;
}
header a{

    text-decoration: none;
}
header a:hover{
    text-decoration: underline
}

header nav a{
color: goldenrod;
text-decoration: none;
}

div h2{
    font-size: 50px;
    text-align: center;
}
div p{
    font-size: 30px;
    text-align: center;
}

button{
    
  background-color: #fff000;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  font-size: 15px;
  justify-content: center;
}

h4{
    font-size: 25px;
}
.calculadora{
    text-align: center;
    border: 1px solid black;
}

.cuerpo{
    border: 1px solid black;
    text-align: center;
}

.listado{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.listado h3{
 font-size: 35px;
}

.listado li{
    text-align: start;
    font-size: 25px;
}

.listaPersonajes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    
    margin: 20px;
    text-align: center;
    border: 1px solid black;
    background-color: rgba(82, 133, 6, 0.726);
    max-width: 350px;
}


.card img{
    padding: 25px;
    border-radius: 50%;
    width: 75%;
    height: 75%;
    
}

.fondoImg{
    background-image: url(./fondo\ r&m.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.card h4{
    font-size: 40px;
    color: aliceblue;
   
    
}

.card h5{
    font-size: 30px;
    color: aliceblue;
    text-align: justify;
    padding-left: 15px;
}
.card p{
    font-size: 20px;
    text-align: justify;
    padding-left: 25px;
    color: aliceblue;
}

.card li{
    color: aliceblue;
}
